alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
argon2-cffi==21.1.0
asn1crypto @ file:///C:/ci/asn1crypto_1594339244757/work
astroid==2.8.3
astropy==4.0
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt==3.2.0
bitarray==1.2.1
bkcharts==0.2
black==19.10b0
bleach==4.1.0
bokeh==1.4.0
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
Click==7.0
cloudpickle==2.0.0
colorama @ file:///home/ktietz/src/ci/colorama_1611926383524/work
comtypes==1.1.10
contextlib2 @ file:///Users/ktietz/demo/mc3/conda-bld/contextlib2_1630668244042/work
coverage @ file:///C:/ci/coverage_1614614910274/work
cryptography==35.0.0
cycler==0.10.0
Cython==0.29.15
cytoolz==0.10.1
dask==2.11.0
decorator==5.1.0
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.3
distributed==2.11.0
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
fastcache==1.1.0
filelock==3.3.1
flake8==3.7.9
Flask==1.1.1
fonttools==4.25.0
fsspec==0.6.2
future==0.18.2
gevent==1.4.0
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
greenlet==0.4.15
h5py==2.10.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
html5lib==1.0.1
hypothesis==5.5.4
idna==3.3
imageio==2.9.0
imagesize @ file:///Users/ktietz/demo/mc3/conda-bld/imagesize_1628863108022/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1631916842152/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intervaltree==3.1.0
ipykernel==5.5.6
ipython==7.19.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
isort==5.9.3
itsdangerous==1.1.0
jdcal @ file:///Users/ktietz/demo/mc3/conda-bld/jdcal_1630584345063/work
jedi==0.16.0
Jinja2==3.0.2
joblib==1.1.0
json5==0.9.1
jsonschema==4.1.2
jupyter-client==7.0.6
jupyter-core @ file:///C:/ci/jupyter_core_1633402341948/work
jupyterlab-pygments==0.1.2
keyring==22.3.0
kiwisolver==1.3.2
lazy-object-proxy @ file:///C:/b/work
llvmlite==0.31.0
locket==0.2.0
lxml==4.5.0
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
matplotlib @ file:///C:/ci/matplotlib-suite_1634667159685/work
mccabe==0.6.1
mistune @ file:///C:/ci/mistune_1594373272338/work
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.1
more-itertools==8.2.0
mpmath==1.2.1
msgpack @ file:///C:/ci/msgpack-python_1612287191162/work
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
nbclient==0.5.4
nbconvert==6.0.7
nbformat==5.0.4
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx==2.6.3
nltk==3.4.5
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
notebook==6.1.6
numba==0.48.0
numexpr @ file:///C:/ci/numexpr_1607678904271/work
numpy==1.21.2
numpydoc==1.1.0
olefile==0.46
openpyxl==3.0.3
packaging==20.1
pandas==1.3.4
pandocfilters==1.5.0
paramiko==2.8.0
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib2 @ file:///C:/ci/pathlib2_1607025068091/work
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.2
pep8==1.7.1
pexpect==4.8.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.4.0
pkginfo==1.5.0.1
platformdirs==2.4.0
pluggy==1.0.0
ply==3.11
prometheus-client==0.11.0
prompt-toolkit @ file:///home/ktietz/src/ci/prompt-toolkit_1611930248499/work
psutil @ file:///C:/ci/psutil_1612298033174/work
ptyprocess==0.7.0
py @ file:///tmp/build/80754af9/py_1607971587848/work
pycodestyle==2.8.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydocstyle==6.1.1
pyflakes==2.1.1
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
pylint==2.11.1
PyNaCl @ file:///C:/ci/pynacl_1595009241355/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PyQt5==5.12.3
PyQt5-sip==12.9.0
PyQtWebEngine==5.12.1
pyreadline==2.1
pyrsistent==0.18.0
PySocks @ file:///C:/ci/pysocks_1594394709107/work
pytest==6.2.4
pytest-arraydiff==0.3
pytest-astropy @ file:///tmp/build/80754af9/pytest-astropy_1629825228402/work
pytest-astropy-header @ file:///home/ktietz/src/ci_ipy2/pytest-astropy-header_1612520851504/work
pytest-cov @ file:///tmp/build/80754af9/pytest-cov_1623656324523/work
pytest-doctestplus @ file:///tmp/build/80754af9/pytest-doctestplus_1626845173740/work
pytest-filter-subpackage @ file:///tmp/build/80754af9/pytest-filter-subpackage_1629823888712/work
pytest-mock @ file:///tmp/build/80754af9/pytest-mock_1620401424900/work
pytest-openfiles @ file:///home/ktietz/src/ci_ipy2/pytest-openfiles_1612521034591/work
pytest-remotedata==0.3.2
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-jsonrpc-server==0.3.4
python-language-server==0.31.10
pytz==2021.3
PyWavelets==1.1.1
pywin32==302
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1594392691209/work
pywinpty==1.1.4
PyYAML==6.0
pyzmq==22.3.0
QDarkStyle==3.0.2
QtAwesome==1.0.3
qtconsole==5.1.1
QtPy==1.11.2
regex @ file:///C:/ci/regex_1629302311830/work
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
rope==0.21.0
ruamel.yaml==0.15.87
scikit-image==0.16.2
scikit-learn==0.22.1
scipy @ file:///C:/ci/scipy_1616703425152/work
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six @ file:///tmp/build/80754af9/six_1623709665295/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1611258885636/work
sortedcollections==1.1.2
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==1.9.5
Sphinx @ file:///tmp/build/80754af9/sphinx_1632506123190/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
sphinxcontrib-websupport==1.2.0
spyder==4.0.1
spyder-kernels==1.8.1
SQLAlchemy==1.3.13
statsmodels==0.11.0
sympy==1.5.1
tables==3.6.1
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
terminado==0.8.3
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
tornado @ file:///C:/ci/tornado_1606935947090/work
tqdm==4.42.1
traitlets @ file:///tmp/build/80754af9/traitlets_1632522747050/work
typed-ast @ file:///C:/ci/typed-ast_1624953789477/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
ujson==1.35
unicodecsv==0.14.1
urllib3==1.26.7
virtualenv==20.0.30
watchdog==0.10.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug @ file:///tmp/build/80754af9/werkzeug_1635505089296/work
widgetsnbextension==3.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.7
xlwings==0.17.1
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.28.0
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
zope.event==4.4
zope.interface==4.7.1
